/BaseRoleUtils.pyc
/WordRoleUtils.pyc
/SequenceUtils.pyc
/RnaeditingRoleCriteria.pyc
/RolePrimerCriteria.pyc
/RoleSample.pyc
/RoleSampleBase.pyc
/RoleSequenceCriteria.pyc
/SequenceCriteria.pyc
/PrimerCriteria.pyc
